@media (max-width:480px){
    .div1{
        border: 1.5px solid red;
        
        border-radius: 5px;
        padding: 20px;
    
    }
    .div2{
        border: 1.5px solid #0f474d;
        border-radius: 5px;
        padding: 20px;
    
    }

    .div3{
        border: 1.5px solid orange;
        border-radius: 5px;
        padding: 20px;
    
    }

    .div4{
        border: 1.5px solid #0f474d;
        border-radius: 5px;
        padding: 20px;
    
    }

    .imgB{
        height: 100%;
        width: 100%;

    }
    
    .imgA{
        height: 100%;
        width: 100%;
    
    }
    
    .imgC{
        height: 100%;
        width: 100%;
        
    }
    
    .imgD{
        height: 100%;
        width: 100%;
        
    }

    .tapha p{
        text-align: center;
    }

    .divA{
        border: none;
        margin-top: 20px;
    }
    
    .divB{
        border: none;
        margin-top: 20px;
    }
    
    .divC{
        border: none;
        margin-top: 20px;
    }
    
    .divD{
        border: none;
        margin-top: 20px;
    }
    
}